<div id='map' 
	data-marathon="<%= params[:marathon] %>"
	data-preferred-location="<%= params[:preferred_location] %>"
	data-arrival="<%= params[:arrival] %>"
	data-departure="<%= params[:departure] %>"
></div>