@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	/*background: url('berlin.jpg') no-repeat fixed center;*/
	/*background-size: 100%;*/
}

#dot-matrix {
	background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}

/* carousel images */
div.ng-scope img {
	min-height: 100%;
	min-width: 1920px;
	width: 100%;
	height: auto;
	z-index: -2;
	position: fixed;
	bottom: 0; /* makes header overlap background image */
	right: 0; /* takes away sliding transition effect???! */
}

/* overwrite bootstrap carousel controllers */
.carousel-control {
	visibility: hidden;
}
/* end overwrite */

div.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	z-index: 2;
}

menu {
	background-color: white;
	height: 60px;
	margin-top: 40px;
	border-radius: 4px;
	border: solid 1px lightgrey;
	box-shadow: 1px 1px 1px #505050;
	padding: 0;
}

.container h1 {
	font-size: 3em;
	color: white;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	font-weight: lighter;
	letter-spacing: -0.5px;
}

.container p {
	/*letter-spacing: -0.2px;*/
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	font-weight: lighter;
	color: #FFFFFA;
	font-size: 1.2em;
}

span select, span input {
	height: 58px;
	background-color: transparent; /* needed to set height of fields */
	border-style: none;
	outline: none;  needed to remove focus colour when selected 
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none; /* removes default styling of form elements */
	padding: 0 10px;
	margin: 0;
} 

span select {
	cursor: pointer;
}

span input {
	width: 100px;
}

/* for mouseover effect of font-awesome descending arrow */
i {
	transition: color 0.2s ease;
}

/* for mouseover effect of font-awesome descending arrow */
.marathon:hover > i, .selection:hover > i {
	color: #A30000;
}

.marathon, .selection {
	border-right: 1px solid #E0E0E0;
	display: inline-block;
	padding-right: 10px;
}

.marathon {
	width: 200px;
}

.marathon:hover, .selection:hover {
	background-color: #F8F8F8;
}

/* nove the font awesome descending arrow icon 4px higher than default*/
.fa-sort-desc {
	position: relative;
	top: -4px;
}

.arrival {
	border-right: 1px solid #E0E0E0;
}

.departure {
	border-right: 0;
}

/* search button */
menu button {
	border: none;
	background-color: #A30000;
	height: 60px;
	width: 80px;
	position: relative;
	top: -1px;
	left: 1px;
	color: white;
	outline: none;
}

menu button:hover {
	background-color: #B60000;
}
