@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	background: url('berlin.jpg') no-repeat fixed center;
	background-size: 100%;
}

header {
	background-color: black;
	width: 100%;
	height: 70px;
	text-align: center;
	opacity: 0.9;
}

header img {
	position: relative;
	top: 8px;
	height: 60%;
}

/*div.carousel-inner img {
	width: 100%;
	z-index: 900;
	position: absolute;
	top: 0;
	left: 0;
}*/

/* overwrite bootstrap carousel controllers */
.carousel-control {
	visibility: hidden;
}
/* end overwrite */

div.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	top: -150px;
	z-index: 950;
}

menu {
	background-color: white;
	height: 60px;
	border-radius: 4px;
	border: solid 1px lightgrey;
	box-shadow: 1px 2px 6px #505050;
	padding: 0;
}

.container h1 {
	font-size: 3em;
	color: white;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	font-weight: lighter;
	letter-spacing: -0.5px;
}

.container p {
	letter-spacing: -0.2px;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
}

select, input {
	height: 58px;
	background-color: transparent; /* needed to set height of fields */
	border-style: none;
	outline: none; /* needed to remove focus colour when selected */
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none; /* removes default styling of form elements */
	padding: 0 10px;
	border-right: 1px solid #E0E0E0;
}

select:hover, input:hover {
	background-color: lightgrey;
}

input {
	width: 100px;
}

.marathon {
	width: 200px;
}


