.hotel-info-container h3 {
  font-weight: lighter;
  border-bottom: dotted 1px lightgrey;
  padding-bottom: 10px;
  margin-top: 0;
}

.hotel-info-container h3 span {
  color: #FFCC00;
  font-size: 15px;
  float: right;
}

table .amenities {
  padding-left: 40px;
}

.amenities i {
  padding-right: 5px;
}


/* - - - IMAGES CAROUSEL - - - */

/*
  .jssora03l              (normal)
  .jssora03r              (normal)
  .jssora03l:hover        (normal mouseover)
  .jssora03r:hover        (normal mouseover)
  .jssora03ldn            (mousedown)
  .jssora03rdn            (mousedown)
  */

.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(a21.png) no-repeat;
  overflow:hidden;
}


.jssora03l { background-position: -3px -33px;}
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }

#slider1_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 300px;
}

#slides {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 270px;
}
