html, body {
	height: 100%;
	margin: 0;
 }

#map {
	min-height: 100%; 
	top: 60px;
}

.map-menu {
	background-color: black;
	opacity: 0.8;
	position: fixed;
	top: 10%;
	z-index: 1;
	color: white;
	padding: 10px 25px;
}
