html, body {
	height: 100%;
	margin: 0;
 }

 .full-page {
	position: fixed;
	z-index: 1;
	width: 100%;
}

#map {
	min-height: 100%; 
	top: 60px;
}

.map-menu {
	background-color: black;
	opacity: 0.8;
	z-index: 1;
	float: right;
	position: relative;
	top: 80px;
	color: white;
	padding: 10px 25px;
}

.map-menu h3 {
	font-size: 1.6em;
	font-weight: lighter;
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Sans-Serif";
	margin-top: 5px;
}

.map-controls {
	border-top: dotted 1px #505050;
	padding-top: 10px;
}

.map-menu p {
	cursor: pointer;
	transition: color 0.5s ease;
}

.map-menu p:hover {
	color: #66cccc;
}
